@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #01161E;
    border-top-color: #EFF6E0;
    animation: spin 1s linear infinite;
}